.driver_img_div {
	margin: 2px;
	float: left;
}

.driver_img_div:hover {
	border: 1px solid #777;
}

.details_drivers {
	float: right;
}

.details_facts {
	clear: right;
}

#key_impact_risks {
	background: rgb(245, 245, 245);
}


div.active {
	background: SteelBlue;
	color: white;
}


#risk_details {
	border-style: solid;
}
