// -----------------------------------------------------------------------------
// This file contains all styles related to the div component.
// -----------------------------------------------------------------------------
.container{
	max-width: 700px;
}

.question-div {
	margin: 20px auto;
}

.info-div {
	background-color: WhiteSmoke;
}

.info-div-center {
	text-align: center;
}

.person-a-div {
	padding-right: 3px;
}

.person-b-div {
	padding-left: 3px;
}

.person-a, .person-b {
	border: solid 1px;
	border-color: Darkgrey;
	border-radius: 3px;
}

.word-list, .person-img {
	display: inline-block;
	vertical-align: middle;
}

.word-list {
	width: 35%;
	text-align: center;
	box-sizing: border-box;
	margin: 0px;
	padding-left: 5px;
}

.list-group {
	//margin-bottom: 10px;
}

.person-img {
	width: 61%;
	box-sizing: border-box;
	margin: 0px;
}

.chart-div {
	height: 360px;
}

.warning-div {
    background-color: MistyRose;
}