#graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.hidden {
  display: none;
}

text.region-label, text.smallisland-label, #graticule {
  pointer-events: none;
}


.region-label, .smallisland-label {
  fill: black;
  fill-opacity: .5;
  font-size: 14px;
  font-weight: 600;
  text-anchor: middle;
}

.smallislands-label-small {
  fill: black;
  font-size: 6px;
  font-weight: 500;
  text-anchor: middle;
}

.smallislands_box {
  fill: #0070FF;
  fill-opacity: .6;
  &:hover{
    fill: #033e8a;
  }
}

.asia_small, .africa_small, .europe_small, .na_small, .sa_small, .polar_small, .australasia_small {
  fill: lightgrey;
}

.svgrect_small {
  fill: white;
}

path.polar {
  fill: #98df8a;
  &:hover{
    fill: #66c653;
  }
}


path.asia {
  fill: #FFA600;
  &:hover{
    fill: #e6a62e;
  }
}

path.africa {
  fill: #00B295;
  &:hover{
    fill: #1e9884;
  }
}

path.europe {
  fill: #DEAB76;
  &:hover{
    fill: #c58642;
  }
}


path.sa {
  fill: #E8005D;
  &:hover{
    fill: #ad214d;
  }
}

path.na {
  fill: #76C3DE;
  &:hover{
    fill: #42a2c5;
  }
}

path.australasia {
  fill: #F095FF;
  &:hover{
    fill: #d358e6;
  }
}

.svgrect {
  fill: #F0F8FF;
  &:hover{
    fill: #E0FFFF;
  }
}

