#graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.hidden {
  display: none;
}

.region-label, .smallisland-label {
  fill: black;
  fill-opacity: .7;
  font-size: 14px;
  font-weight: 600;
  text-anchor: middle;
}

.smallislands-label-small {
  fill: black;
  font-size: 6px;
  font-weight: 500;
  text-anchor: middle;
}

.smallislands_box {
  fill: #9ce6e6;
  fill-opacity: .7;
  &:hover{
    fill: #62cccc;
  }
}

.asia_small, .africa_small, .europe_small, .na_small, .sa_small, .polar_small, .australasia_small {
  fill: lightgrey;
}

.svgrect_small {
  fill: white;
}

.asia {
  fill: #FFA600;
  &:hover{
    fill: #e6a62e;
  }
}

.africa {
  fill: #00B295;
  &:hover{
    fill: #1e9884;
  }
}

.europe {
  fill: #DEAB76;
  &:hover{
    fill: #c58642;
  }
}

.na {
  fill: #0070FF;
  &:hover{
    fill: #296abf;
  }
}

.sa {
  fill: #E8005D;
  &:hover{
    fill: #ad214d;
  }
}

.polar {
  fill: #76C3DE;
  &:hover{
    fill: #42a2c5;
  }
}

.australasia {
  fill: #F095FF;
  &:hover{
    fill: #d358e6;
  }
}

.svgrect {
  fill: #F0F8FF;
  &:hover{
    fill: #DDEEFF;
  }
}

