#graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.hidden {
  display: none;
}

.region-label, .smallisland-label {
  fill: black;
  fill-opacity: .7;
  font-size: 14px;
  font-weight: 600;
  text-anchor: middle;
}

.smallislands-label-small {
  fill: black;
  font-size: 6px;
  font-weight: 500;
  text-anchor: middle;
}

.smallislands_box {
  fill: #aec7e8;
  fill-opacity: .7;
  &:hover{
    fill: #87CEFA;
  }
}

.asia_small, .africa_small, .europe_small, .na_small, .sa_small, .polar_small, .australasia_small {
  fill: lightgrey;
}

.svgrect_small {
  fill: white;
}

.asia {
  fill: #ffbb78;
  &:hover{
    fill: rgb(255, 240, 154);
  }
}

.africa {
  fill: #2ca02c;
  &:hover{
    fill: rgb(56,205,56);
  }
}

.europe {
  fill: #ff7f0e;
  &:hover{
    fill: rgb(255,163,38);
  }
}

.na {
  fill: #1f77b4;
  &:hover{
    fill: rgb(39, 152, 231);
  }
}

.sa {
  fill: #d62728;
  &:hover{
    fill: rgb(255,50,51);
  }
}

.polar {
  fill: #98df8a;
  &:hover{
    fill: rgb(195,255,177);
  }
}

.australasia {
  fill: #DDA0DD;
  &:hover{
    fill: rgb(255,205,255);
  }
}

.svgrect {
  fill: #F0F8FF;
  &:hover{
    fill: #E0FFFF;
  }
}

