// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------
.slider-container, .slider_form_container {
	padding: 5px;
	margin: 10px;
}

.slider-container {
	border: solid;
	height:80px;	
	width: 670px;
}

.slider_form_container {
	//text-align:center;
}

.label_box {
	border: none;
    padding: 10px;
    float: left;
    font: 18px arial, sans-serif;
    margin-top: 12px;
}

.slider, .ui-slider-range, .ui-slider-handle{
  	width: 380px;
  	background: #f4cccc;
	border-color: #f4cccc;
	float: left;
}

.slider {
	padding: 5px;
	float: left;
	margin: 30px 25px 5px 25px;
	
}

.slider label {
  position: absolute;
  width: 20px;
  margin-top: -30px;
  margin-left: -10px;
  text-align: center;	
}
  