// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

.slider {
	width: 100%;
	margin: 2em auto auto auto;
}

ul.slider_description {
  margin:0    !important;
  padding:0   !important;
  //height:20px;
}

ul.slider_description li {
  display: inline-block;
  list-style-type:none;
  text-align:center;
  font-size:100%;
  margin-top:5px;
} 

ul.slider_description li:first-child {
  text-align:left;
}

ul.slider_description li:last-child {
  text-align:right;
}
