/* title for Risk details */
.title_text {
	text-decoration: underline;
}

/* tooltip for Climatic drivers images */
.driver_img_div .driver_tooltip {
	visibility: hidden;
	background-color: #777;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 5px 0;

	
	top: 110px;
	right: 10px; 
	
	position: absolute;
	z-index: 1;
}

.driver_img_div:hover .driver_tooltip {
	visibility: visible;
}


/* tooltip for Small map */
.smallmap_tooltip {
	visibility: hidden;	
	//background-color: #777;
	background-image: repeating-linear-gradient(-45deg, rgba(119, 119, 119, 0.4), rgba(119, 119, 119, 0.4) 5px, rgba(119, 119, 119, 0.7) 5px, rgba(119, 119, 119, 0.7) 10px);

	margin-left: 25%;
	margin-right: 25%;
	//margin-top: 25%;
	//margin-bottom: 25%;

	font-size: 16px;
	color: white;

	text-align: center;
	vertical-align: middle;	
	border-radius: 5px;

	position: absolute;
	top: 0px;
	right: 0px; 
	z-index: 1;
}

#smallmap:hover .smallmap_tooltip {
	visibility: visible;
}


h5 {
	color: #325B7F !important;  
}
